PlReviewsWidget.BeerModal = {};

// Beer Modal Specific logic
jQuery(function () {
    // Show beer details page
    PlReviewsWidget.BeerModal.setViewBeerLinkClickHandler = function () {
        $('.view-beer-link').on('click', PlReviewsWidget.BeerModal.onViewBeerLinkClicked);
    }

    PlReviewsWidget.BeerModal.onViewBeerLinkClicked = function (event) {
        PlReviewsWidget.BeerModal.beerId = $(this).attr('data-beer-id');
        PlReviewsWidget.BeerModal.clearContent();

        // Load beer
        $.ajax('/beers/' + PlReviewsWidget.BeerModal.beerId + '.json')
                .done(PlReviewsWidget.BeerModal.onBeersAjaxResponse);

        $('#beer-modal-dialog').show();
        $('#list-content').hide();
        event.preventDefault();
    };

    PlReviewsWidget.BeerModal.clearContent = function () {
        $('#beer-modal-dialog-brewery').text('');
        $('#beer-modal-dialog-name').text('');
        $('#beer-modal-dialog-image').attr('src', '<%= image_path('spinner.gif') %>');
        $('#beer-modal-dialog-abv').text('Unknown');
        $('#beer-modal-dialog-ibu').text('Unknown');
        $('#beer-modal-dialog-activities').html('');
        $('#beer-modal-dialog-activities').hide();
        $('#beer-modal-dialog-activity-title').hide();
        $('#beer-modal-dialog-inventory').text('');
        $('#beer-modal-dialog-style').text('Unknown');
        $('#beer-modal-dialog-description').text('');
    };

    PlReviewsWidget.BeerModal.onBeersAjaxResponse = function (results) {
        var beer = results.beer;

        if (beer && beer.id.toString() == PlReviewsWidget.BeerModal.beerId) {
            PlReviewsWidget.BeerModal.setContent(beer);
        }
    };

    PlReviewsWidget.BeerModal.setContent = function (beer) {
        $('#beer-modal-dialog-name').text(beer.name);
        $('#beer-modal-dialog-brewery').text(beer.brewery.name);

        if (beer.in_fridge) {
            $('#beer-modal-dialog-name').append(' <span class="cold-beer-badge"><%= image_tag 'snowflake.png', class: 'snowflake-image' %> In fridge</a>');
        }

        url = beer.icon_url || beer.brewery.icon_url || '<%= image_path('placeholder.png') %>';
        $('#beer-modal-dialog-image').attr('src', url);

        if (beer.abv) {
            $('#beer-modal-dialog-abv').text(beer.abv + '%');
        }

        if (beer.ibu) {
            $('#beer-modal-dialog-ibu').text(beer.ibu);
        }

        if (beer.description) {
            $('#beer-modal-dialog-description').show()
            $('#beer-modal-dialog-description').text(beer.description);
        } else {
            $('#beer-modal-dialog-description').hide();
        }

        if (beer.style) {
            $('#beer-modal-dialog-style').text(beer.style);
        }

        $('#beer-modal-dialog-inventory').text(beer.inventory);

        if (beer.activities.length > 0) {
            PlReviewsWidget.BeerModal.setActivities(beer.activities);
        }
    };

    PlReviewsWidget.BeerModal.setActivities = function (activities) {
        $(activities).each(PlReviewsWidget.BeerModal.addActivity);
        $('#beer-modal-dialog-activity-title').show();
        $('#beer-modal-dialog-activities').show();
    };

    PlReviewsWidget.BeerModal.addActivity = function (index, activity) {
        var activityDiv = $("<div class='modal-dialog-activity-item'></div>"),
                createdDate = moment(activity.created_at),
                textSpan = $('<span> on ' + createdDate.format("MMMM Do") + '</span>');

        switch (activity.type) {
            case 'BeerReviewedActivity':
                activityDiv.append('<%= image_tag 'activity-rating.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('<strong>' + activity.review.user.name + '</strong> rated it <strong>' + activity.review.rating + ' out of 5</strong>');
                break;
            case 'BeerOpenedActivity':
                activityDiv.append('<%= image_tag 'activity-open.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('Opened');
                break;
            case 'BeerAddedActivity':
                activityDiv.append('<%= image_tag 'activity-add.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('Added to the inventory');
                break;
        }
        activityDiv.append(textSpan);
        $('#beer-modal-dialog-activities').append(activityDiv);
    };

    PlReviewsWidget.BeerModal.setCloseDialogClickHandler = function () {
        $('#beer-modal-dialog-close').click(PlReviewsWidget.BeerModal.closeDialog);
    };

    PlReviewsWidget.BeerModal.closeDialog = function (event) {
        $('#beer-modal-dialog').hide();
        $('#list-content').show();
        PlReviewsWidget.BeerModal.beerId = null;
        event.preventDefault();
    };
});


// Initialize widgets
jQuery(function () {
    PlReviewsWidget.BeerModal.setCloseDialogClickHandler();
    PlReviewsWidget.BeerModal.beerId = null;
    PlReviewsWidget.BeerModal.setViewBeerLinkClickHandler();
});