PlReviewsWidget.CoffeeModal = {};

// Coffee Modal Specific logic
jQuery(function () {
    // Show coffee details page
    PlReviewsWidget.CoffeeModal.setViewCoffeeLinkClickHandler = function () {
        $('.view-coffee-link').on('click', PlReviewsWidget.CoffeeModal.onViewCoffeeLinkClicked);
    }

    PlReviewsWidget.CoffeeModal.onViewCoffeeLinkClicked = function (event) {
        PlReviewsWidget.CoffeeModal.coffeeId = $(this).attr('data-coffee-id');
        PlReviewsWidget.CoffeeModal.clearContent();

        // Load coffee
        $.ajax('/coffees/' + PlReviewsWidget.CoffeeModal.coffeeId + '.json')
                .done(PlReviewsWidget.CoffeeModal.onCoffeesAjaxResponse);

        $('#coffee-modal-dialog').show();
        $('#list-content').hide();
        event.preventDefault();
    };

    PlReviewsWidget.CoffeeModal.clearContent = function () {
        $('#coffee-modal-dialog-roaster').text('');
        $('#coffee-modal-dialog-name').text('');
        $('#coffee-modal-dialog-image').attr('src', '<%= image_path('spinner.gif') %>');
        $('#coffee-modal-dialog-bag-count').text(0);
        $('#coffee-modal-dialog-origin').text('Unknown');
        $('#coffee-modal-dialog-variety').text('Unknown')
        $('#coffee-modal-dialog-type').text('')
        $('#coffee-modal-dialog-activities').html('');
        $('#coffee-modal-dialog-activities').hide();
        $('#coffee-modal-dialog-activity-title').hide();
    };

    PlReviewsWidget.CoffeeModal.onCoffeesAjaxResponse = function (results) {
        var coffee = results.coffee;

        if (coffee && coffee.id.toString() == PlReviewsWidget.CoffeeModal.coffeeId) {
            PlReviewsWidget.CoffeeModal.setContent(coffee);
        }
    };

    PlReviewsWidget.CoffeeModal.setContent = function (coffee) {
        $('#coffee-modal-dialog-name').text(coffee.name);
        $('#coffee-modal-dialog-roaster').text(coffee.roaster.name);

        url = coffee.roaster.image_url || '<%= image_path('placeholder.png') %>';
        $('#coffee-modal-dialog-image').attr('src', url);

        if (coffee.bags_count) {
            $('#coffee-modal-dialog-bag-count').text(coffee.bags_count);
        }

        if (coffee.origin) {
            $('#coffee-modal-dialog-origin').text(coffee.origin);
        }

        if (coffee.variety) {
            $('#coffee-modal-dialog-variety').text(coffee.variety);
        }

        $('#coffee-modal-dialog-type').text(coffee.drip_or_espresso);


        if (coffee.activities.length > 0) {
            PlReviewsWidget.CoffeeModal.setActivities(coffee.activities);
        }
    };

    PlReviewsWidget.CoffeeModal.setActivities = function (activities) {
        $.each(activities, PlReviewsWidget.CoffeeModal.addActivity);
        $('#coffee-modal-dialog-activity-title').show();
        $('#coffee-modal-dialog-activities').show();
    };

    PlReviewsWidget.CoffeeModal.addActivity = function (index, activity) {
        var activityDiv = $("<div class='modal-dialog-activity-item'></div>"),
                createdDate = moment(activity.created_at),
                textSpan = $('<span> on ' + createdDate.format("MMMM Do") + '</span>');

        switch (activity.type) {
            case 'CoffeeReviewedActivity':
                activityDiv.append('<%= image_tag 'activity-rating.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('<strong>' + activity.review.user.name + '</strong> rated it <strong>' + activity.review.rating + ' out of 5</strong>');
                break;
            case 'BagOpenedActivity':
                activityDiv.append('<%= image_tag 'activity-coffee.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('Opened');
                break;
            case 'CoffeeAddedActivity':
                activityDiv.append('<%= image_tag 'activity-add.png', class: 'modal-dialog-activity-icon' %>');
                textSpan.prepend('Added to the inventory');
                break;
        }
        activityDiv.append(textSpan);
        $('#coffee-modal-dialog-activities').append(activityDiv);
    };

    PlReviewsWidget.CoffeeModal.setCloseDialogClickHandler = function () {
        $('#coffee-modal-dialog-close').click(PlReviewsWidget.CoffeeModal.closeDialog);
    };

    PlReviewsWidget.CoffeeModal.closeDialog = function (event) {
        $('#coffee-modal-dialog').hide();
        $('#list-content').show();
        PlReviewsWidget.CoffeeModal.coffeeId = null;
        event.preventDefault();
    };
});


// Initialize widgets
jQuery(function () {
    PlReviewsWidget.CoffeeModal.setCloseDialogClickHandler();
    PlReviewsWidget.CoffeeModal.coffeeId = null;
    PlReviewsWidget.CoffeeModal.setViewCoffeeLinkClickHandler();
});