<div id='list-content'>
    <div class="section-title">
        <%= @coffees.count %> different coffees
    </div>

    <% @coffees.each_with_index do |coffee, index| %>
        <a href='#' data-coffee-id='<%= coffee.id %>' class='view-coffee-link'>
            <div class="activity-item">
                <div>
                    <div class="activity-image">
                        <%= image_tag coffee.roaster.image_url || 'placeholder.png' %>
                    </div>
                    <div class='activity-item-text'>
                        <strong><%= coffee.name %></strong>

                        <div class='activity-item-subtext'>from <strong><%= coffee.roaster.name %></strong></div>
                    </div>
                </div>
            </div>
        </a>
    <% end %>
</div>