<a href='#' data-beer-id='<%= beer_added_activity.beer.id %>' class='view-beer-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag beer_added_activity.beer.icon_url || beer_added_activity.beer.brewery.icon_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-add.png', class: 'activity-icon' %>
                <span style="color:#4A9E01">Added</span> <strong><%= beer_added_activity.beer.name %></strong>
                <br>
                <span class='activity-item-subtext'>
                    from <strong><%= beer_added_activity.beer.brewery.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>
