<a href='#' data-beer-id='<%= beer_reviewed_activity.beer.id %>' class='view-beer-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag beer_reviewed_activity.beer.icon_url || beer_reviewed_activity.beer.brewery.icon_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-rating.png', class: 'activity-icon' %>
                <strong><%= beer_reviewed_activity.review.user.name %></strong>
                <span style="color:#CDA006">rated</span> <strong><%= beer_reviewed_activity.beer.name %></strong>
                <br>
                <span class='activity-item-subtext'>
                    from <strong><%= beer_reviewed_activity.beer.brewery.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>
