<div class='new-form'>
    <%= bootstrap_form_for(@roaster, style: :horizontal) do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :location %>

        <%= f.file_field :image %>
        <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>