<small class="visible-xs text-center" style="color: #DDDDDD;">
    Scroll table &rarr;
</small>
<div class="table-responsive">
    <table class='table table-striped'>
        <thead>
        <tr class="info">
            <th>Name</th>
            <th>Location</th>
            <th>Types of Coffee</th>
            <% if current_user %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @roasters.each do |roaster| %>
            <tr>
                <td class="list-row-title-cell">
                    <%= link_to roaster do %>
                        <%= image_tag roaster.image_url || 'placeholder.png' %>
                        <%= roaster.name %>
                    <% end %>
                </td>
                <td><%= roaster.location || 'Unkown' %></td>
                <td>
                    <%= link_to roaster_coffees_url(roaster) do %>
                        <%= roaster.coffees_count || 0 %>
                    <% end %>
                </td>
                <% if current_user %>
                    <td class="list-row-action-cell">
                        <%= link_to roaster, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-remove'></span>
                        <% end %>
                        <%= link_to edit_roaster_path(roaster), class: 'btn btn-default btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-pencil'></span>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= paginate @roasters %>
<br>