<% title @roaster.name %>
<div>
    <h1 class="show-page-title">
        <%= @roaster.name %>
        <% if @roaster.location %>
            <small> <%= @roaster.location %></small>
        <% end %>
    </h1>
    <%= link_to 'View Their Coffee'.html_safe, roaster_coffees_url(@roaster), class: 'btn btn-primary btn-xs' %>
    <% if current_user %>
        <%= link_to edit_roaster_path(@roaster), class: 'btn btn-default btn-xs' do %>
            <span class='glyphicon glyphicon-pencil'></span> Edit roaster
        <% end %>
        <%= link_to '+ Add Coffee', new_roaster_coffee_path(@roaster), class: 'btn btn-primary pull-right undo-float' %>
        <%= link_to @roaster, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do %>
            <span class='glyphicon glyphicon-remove'></span> Delete Roaster
        <% end %>
    <% end %>
</div>
<hr>

<div class="show-page-image text-center">
    <%= image_tag @roaster.image_url || 'placeholder.png' %>
</div>