<div id='list-content'>
    <div class="section-title">
        <%= @beers.count %> different beers <%= 'currently in stock' if @in_stock == '1' %>
    </div>

    <% @beers.each_with_index do |beer, index| %>
        <a href='#' data-beer-id='<%= beer.id %>' class='view-beer-link'>
            <div class="activity-item">
                <div>
                    <div class="activity-image">
                        <%= image_tag beer.icon_url || beer.brewery.icon_url || 'placeholder.png' %>
                    </div>
                    <div class='activity-item-text'>
                        <strong><%= beer.name %></strong> <%= image_tag 'snowflake.png', class: 'snowflake-image', title: 'In fridge' if beer.in_fridge %>

                        <div class='activity-item-subtext'>from <strong><%= beer.brewery.name %></strong></div>
                    </div>
                </div>
            </div>
        </a>
    <% end %>
</div>