<div class='new-form'>
    <%= bootstrap_form_for(@coffee, style: :horizontal) do |f| %>
        <% if @roaster %>
            <div class="form-group">
                <label class="control-label">Roaster</label>
                <div class='coffee-form-roaster-name'><%= @roaster.name %></div>
            </div>
            <%= f.hidden_field :roaster_id, value: @roaster.id %>
        <% else %>
            <%= f.collection_select :roaster_id, @roasters, :id, :name %>
        <% end %>
        <%= f.text_field :name %>
        <%= f.text_field :origin %>
        <%= f.text_field :variety %>
        <%= f.collection_select :drip_or_espresso, [:drip, :espresso], :to_s, :to_s %>
        <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>