<small class="visible-xs text-center" style="color: #DDDDDD;">
    Scroll table &rarr;
</small>
<div class="table-responsive">
    <table class='table table-striped coffees-list'>
        <thead>
        <tr class="info">
            <th>Name</th>
            <th>Roaster</th>
            <th>Origin</th>
            <th>Variety</th>
            <th>Bags</th>
            <% if current_user %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @coffees.each do |coffee| %>
            <tr>
                <td class="list-row-title-cell">
                    <%= image_tag coffee.roaster.image_url || 'placeholder.png' unless @roaster %>
                    <b><%= link_to coffee.name, coffee %></b>
                </td>
                <td><%= link_to coffee.roaster.name, coffee.roaster %></td>
                <td><%= coffee.origin || 'Unknown' %></td>
                <td><%= coffee.variety || 'Unknown' %> (<%= coffee.drip_or_espresso %>)</td>
                <td><%= link_to (coffee.bags_count || 0), coffee_bags_path(coffee) %></td>
                <% if current_user %>
                    <td class="list-row-action-cell">
                        <%= link_to coffee, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-remove'></span>
                        <% end %>
                        <%= link_to edit_coffee_path(coffee), class: 'btn btn-default btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-pencil'></span>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= paginate @coffees %>
<br>