<% title 'Coffees' %>

<div class="list-header">
    <div class="col-xs-12">

        <%
           if @roaster
             all_path = roaster_coffees_path(@roaster)
             in_stock_path = roaster_coffees_path(@roaster, in_stock: '1')
           else
             all_path = coffees_path
             in_stock_path = coffees_path(in_stock: '1')
           end
        %>
        <% if @in_stock %>
            <h1 class="index-page-title"><%= "#{@roaster.name} " if @roaster %>Coffees in stock</h1>
            <%= link_to 'View all coffees', all_path, class: 'btn btn-default' %>
        <% else %>
            <h1 class="index-page-title">All <%= "#{@roaster.name} " if @roaster %>Coffees</h1>
            <%= link_to 'View only coffees in stock', in_stock_path, class: 'btn btn-default' %>
        <% end %>

        <% if current_user %>
            <%= link_to '+ Add Coffee', new_coffee_path, class: 'btn btn-primary pull-right undo-float' %>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%= render 'list' %>
        <br>
    </div>
</div>