<% title @coffee.name %>
<div>
    <h1 class="show-page-title">
        <%= @coffee.name %>
        <small> by <%= link_to @coffee.roaster.name, @coffee.roaster %></small>
    </h1>
    <%= link_to 'View Bags'.html_safe, coffee_bags_path(@coffee), class: 'btn btn-primary btn-xs' %>
    <% if current_user %>
        <%= link_to edit_coffee_path(@coffee), class: 'btn btn-default btn-xs' do %>
            <span class='glyphicon glyphicon-pencil'></span> Edit Coffee
        <% end %>
        <%= link_to '+ Add Bag of Coffee', new_coffee_bag_path(@coffee), class: 'btn btn-primary pull-right undo-float' %>
        <%= link_to @coffee, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do %>
            <span class='glyphicon glyphicon-remove'></span> Delete coffee
        <% end %>
    <% end %>
</div>

<hr>

<div class='show-info-container-properties'>
    <table>
        <tr>
            <td class="title-cell">Origin</td>
            <td class="content-cell">
                <%= @coffee.origin || 'Unknown' %>
            </td>
        </tr>
        <tr>
            <td class="title-cell">Variety</td>
            <td class="content-cell">
                <%= @coffee.variety || 'Unknown' %>
            </td>
        </tr>
        <tr>
            <td class="title-cell">Type</td>
            <td class="content-cell">
                <%= @coffee.drip_or_espresso %>
            </td>
        </tr>
    </table>
</div>

<hr>

<div class="row">
    <div class='col-sm-12'>
        <% if @coffee.reviews.length > 0 %>
            <h4><strong>Reviews</strong></h4>
            <%= render @coffee.reviews %>
        <% end %>

        <% if current_user %>
            <%= render 'reviews/form' %>
        <% end %>
    </div>
</div>
