<h1>Log in</h1>

<%= bootstrap_form_for(@session_form, url: sessions_url, method: :post, style: :horizontal) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit 'Log in' %>
<% end %>
