body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 30px 0 0;
  margin: 0;
  font-weight: 300;
  padding-bottom: 15px;
}

a {
  color: #3289C5;
}

.section-title {
  font-weight: 700;
  color: #9B9B9B;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 5px;
  z-index: 4;
}

.activity-date-header {
  font-weight: bold;
  color: #9B9B9B;
  background-color: #EEE;
  padding: 3px;
  border: 1px solid transparent;
  border-bottom-color: #d9d9d9;
}

.activity-item {
  height: 40px;
  padding: 5px 5px 5px 0px;
  position: relative;
}

.activity-item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 19px;
  padding: 5px;
  min-height: 40px;
  border: 1px solid transparent;
  border-bottom-color: #d9d9d9;
  z-index: 1;
  transition: background 0.25s;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
}

.activity-item:hover > div {
  background: #fefbf0;
  white-space: normal;
  border-color: #d9d9d9;
  z-index: 3;
}

.activity-image {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.activity-image img {
  max-width: 40px;
  max-height: 40px;
}

.activity-icon {
  height: 15px;
  display: inline-block;
}

.activity-item-subtext, .beer-modal-dialog-activity-date {
  font-size: 12px;
  color: #9B9B9B;
}

.view-beer-link {
  text-decoration: none;
  color: #121212;
  display: block;
}

.view-coffee-link {
  text-decoration: none;
  color: #121212;
  display: block;
}

strong {
  font-weight: 500;
}

.hidden {
  display: none;
}

#showHidden {
  height: 10px;
  border-bottom-width: 0;
}

#showHidden:hover {
  background: transparent;
}

#beer-modal-dialog, #coffee-modal-dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  display: none;
}

#beer-modal-dialog-image, #coffee-modal-dialog-image {
  max-width: 64px;
  max-height: 64px;
  overflow: hidden;
  vertical-align: baseline;
  background-color: white;
  display: inline-block;
  margin-right: 10px;
}

#beer-modal-dialog-title, #coffee-modal-dialog-title {
  height: 64px;
  display: inline-block;
  vertical-align: top;

}

#beer-modal-dialog-name, #coffee-modal-dialog-name {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}

.modal-dialog-properties {
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  padding: 10px 0;
  margin: 10px 0;

  table {
    width: 100%;
    margin-bottom: 0;
  }
}

.modal-dialog-properties td.title-cell {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 10px;
  text-align: right;
}

.modal-dialog-properties td.content-cell {
  font-weight: normal;
  text-transform: capitalize;
}

#beer-modal-dialog-description, #coffee-modal-dialog-description {
  padding: 10px;
}

#beer-modal-dialog-close, #coffee-modal-dialog-close {
  display: block;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
}

.modal-dialog-review {
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  padding-left: 20px;
  border: 1px solid transparent;
  border-bottom-color: #d9d9d9;
}

#beer-modal-dialog-activity-title, #coffee-modal-dialog-activity-title {
  font-weight: bold;
}

.modal-dialog-activity-item {
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border: 1px solid transparent;
  border-bottom-color: #d9d9d9;
}

.modal-dialog-activity-icon {
  height: 15px;
  margin-right: 5px;
}

.snowflake-image {
  height: 12px;
  vertical-align: text-top;
  position: relative;
  top: 1px;
  margin-left: 3px;
}

.cold-beer-badge {
  border: 1px solid #5FC3FF;
  color: #5FC3FF;
  font-size: 12px;
  position: relative;
  top: -2px;
  padding: 2px 5px 2px 2px;
  margin-left: 5px;
  font-weight: normal;
}

#shadow {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20px;
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, #fff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 80%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 80%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 80%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 80%);
}