<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to coffee_added_activity.coffee do %>
            <%= coffee_added_activity.coffee.name %> was added by <%= coffee_added_activity.user.name %>!
        <% end %>
    </div>
</div>