<h1>Add Brewery to BreweryDB</h1>

<div class='panel panel-warning'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Caution!</h3>
    </div>
    <div class='panel-body'>
        This will add a brewery to BreweryDB. Please ensure that you're adding a missing brewery and NOT a
        duplicate or misspelt version of a brewery already in their system.
    </div>
</div>

<div class='new-form'>
    <%= bootstrap_form_for(@brewery_form, url: api_breweries_url, style: :horizontal) do |f| %>
        <%= f.text_field :name %>
        <%= f.submit 'Create Brewery In BreweryDB', class: 'btn btn-primary' %>
    <% end %>
</div>