<!DOCTYPE html>
<html>
<head>
    <title>Palomino Labs - Beer Reviews Widget</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'widget/application', media: 'all' %>
    <%= javascript_include_tag 'widget/main' %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</head>
<body>

<%= yield %>

<%= render 'beer_modal' %>
<%= render 'coffee_modal' %>

<div id="shadow"></div>

</body>
</html>
