<a href='#' data-coffee-id='<%= bag_opened_activity.coffee.id %>' class='view-coffee-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag bag_opened_activity.coffee.roaster.image_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-coffee.png', class: 'activity-icon' %>
                <span style="color:#5D16A4">Opened</span> <strong><%= bag_opened_activity.coffee.name %></strong>
                <br>
                <span class='activity-item-subtext'>
                    from <strong><%= bag_opened_activity.coffee.roaster.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>