<div id="beer-modal-dialog">
    <a href="#" id="beer-modal-dialog-close">&larr; Back</a>

    <%= image_tag 'placeholder.png', id: 'beer-modal-dialog-image' %>
    <div id='beer-modal-dialog-title'>
        <div id='beer-modal-dialog-name'></div>
        <div id='beer-modal-dialog-brewery'></div>
    </div>

    <div class='modal-dialog-properties'>
        <table>
            <tr>
                <td class="title-cell">Inventory Count</td>
                <td class="content-cell">
                    <div id='beer-modal-dialog-inventory'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">ABV</td>
                <td class="content-cell">
                    <div id='beer-modal-dialog-abv'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">IBUs</td>
                <td class="content-cell">
                    <div id='beer-modal-dialog-ibu'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">Style</td>
                <td class="content-cell">
                    <div id='beer-modal-dialog-style'></div>
                </td>
            </tr>
        </table>
        <div id='beer-modal-dialog-description'></div>
    </div>

    <div id='beer-modal-dialog-activity-title'>Activities</div>
    <div id='beer-modal-dialog-activities'></div>
</div>