<div id="coffee-modal-dialog">
    <a href="#" id="coffee-modal-dialog-close">&larr; Back</a>

    <%= image_tag 'placeholder.png', id: 'coffee-modal-dialog-image' %>
    <div id='coffee-modal-dialog-title'>
        <div id='coffee-modal-dialog-name'></div>
        <div id='coffee-modal-dialog-roaster'></div>
    </div>

    <div class='modal-dialog-properties'>
        <table>
            <tr>
                <td class="title-cell">Number of Bags</td>
                <td class="content-cell">
                    <div id='coffee-modal-dialog-bag-count'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">Origin</td>
                <td class="content-cell">
                    <div id='coffee-modal-dialog-origin'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">Variety</td>
                <td class="content-cell">
                    <div id='coffee-modal-dialog-variety'></div>
                </td>
            </tr>
            <tr>
                <td class="title-cell">Type</td>
                <td class="content-cell">
                    <div id='coffee-modal-dialog-type'></div>
                </td>
            </tr>
        </table>
    </div>

    <div id='coffee-modal-dialog-activity-title'>Activities</div>
    <div id='coffee-modal-dialog-activities'></div>
</div>