<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to coffee_bags_path(bag_opened_activity.coffee)  do %>
            A bag of <%= bag_opened_activity.coffee.name %> was opened by <%= bag_opened_activity.user.name %>!
        <% end %>
    </div>
</div>