<%= bootstrap_form_for([@reviewable, @review], style: :horizontal) do |f| %>
    <div class="form-group">
        <%= f.label :rating, class: 'control-label' %>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="review[rating]" value="1"> 1
            </label>
            <label class="btn btn-default">
                <input type="radio" name="review[rating]" value="2"> 2
            </label>
            <label class="btn btn-default">
                <input type="radio" name="review[rating]" value="3"> 3
            </label>
            <label class="btn btn-default">
                <input type="radio" name="review[rating]" value="4"> 4
            </label>
            <label class="btn btn-default">
                <input type="radio" name="review[rating]" value="5"> 5
            </label>
        </div>
    </div>

    <%= f.text_area :comment %>
    <%= f.submit 'Add Review' %>
<% end %>
