<div class='panel panel-default'>
    <div class='panel-heading'>
        <%= link_to coffee_reviewed_activity.coffee do %>
            <%= coffee_reviewed_activity.review.user.name %> rated <%= coffee_reviewed_activity.coffee.name %> a <%= coffee_reviewed_activity.review.rating %> out of 5!
        <% end %>
    </div>
</div>