<a href='#' data-coffee-id='<%= coffee_added_activity.coffee.id %>' class='view-coffee-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag coffee_added_activity.coffee.roaster.image_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-add.png', class: 'activity-icon' %>
                <span style="color:#4A9E01">Added</span> <strong><%= coffee_added_activity.coffee.name %></strong>
                <br>
                <span class='activity-item-subtext'>
                    from <strong><%= coffee_added_activity.coffee.roaster.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>
