<a href='#' data-coffee-id='<%= coffee_reviewed_activity.coffee.id %>' class='view-coffee-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag coffee_reviewed_activity.coffee.roaster.image_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-rating.png', class: 'activity-icon' %>
                <strong><%= coffee_reviewed_activity.review.user.name %></strong>
                <span style="color:#CDA006">rated</span> <strong><%= coffee_reviewed_activity.coffee.name %></strong>
                <br>
                <span class='activity-item-subtext'>
                    from <strong><%= coffee_reviewed_activity.coffee.roaster.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>
