/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 */
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome';

.container {
  max-width: 800px;
}

.plr-container {
  @extend .container;
  margin-bottom: 20px;
}

#logo {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.navbar-brand {
  color: #fff !important;
}

#flash-container {
  margin-top: 40px;
}

.flash-message {
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-success {
  background: #F5FFF4;
}

.table th {
  white-space: nowrap;
}

.undo-float {
  @media screen and (max-width: 700px) {
    float: none !important;
  }
}

@import '*';
