.list-header {
  @extend .row;
  margin-bottom: 10px;
}

.list-row-action-cell {
  min-width: 75px;
}

.list-row-action-cell-wide {
  min-width: 150px;
}

.list-row-title-cell {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-row-title-cell img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
