.show-page-title {
  margin: 0px 5px 10px 0px;

  small {
    a {
      color: #d1d1d1;
      text-decoration: underline;
    }

    color: #d1d1d1;
  }
}

.show-page-info {
  font-size: 20px;
}

.show-info-container-properties table {
  width: 100%;
  margin-bottom: 10px;
  background: #EFF9FF;
  border: 1px solid #D9D9D9;
}

.show-info-container-properties td.title-cell {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 10px;
  text-align: right;
  width: 50%;
}

.show-info-container-properties td.content-cell {
  font-weight: normal;
  width: 50%;
}

.show-page-image img {
  max-height: 300px;
  max-width: 300px;
}