<div class='new-form'>
    <%
       if @brewery.persisted?
         submit_text = 'Update Brewery'
       else
         submit_text = 'Add Brewery'
       end
    %>
    <%= bootstrap_form_for(@brewery, style: :horizontal) do |f| %>
        <%= f.text_field :name, data: {autocomplete_source: api_brewery_autocomplete_url(:json)}, class: 'form-control' %>
        <%= f.hidden_field :brewerydb_id %>
        <%= f.submit submit_text, class: 'btn btn-primary' %>
    <% end %>
</div>