<small class="visible-xs text-center" style="color: #DDDDDD;">
    Scroll table &rarr;
</small>
<div class="table-responsive">
    <table class='table table-striped'>
        <thead>
        <tr class="info">
            <th><%= sortable 'name' %></th>
            <th><%= sortable 'beers_count', 'Inventory Count' %></th>
            <th><%= 'Average Rating' %></th>
            <% if current_user %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @breweries.each do |brewery| %>
            <tr>
                <td class='list-row-title-cell'><b><%= link_to brewery do %>
                        <%= image_tag brewery.icon_url || 'placeholder.png' %><%= brewery.name %>
                    <% end %>
                </b></td>
                <td><%= link_to brewery.beers_count || 0, brewery_beers_path(brewery.id) %></td>
                <td><%= brewery.average_rating || 'Not Rated' %></td>
                <% if current_user %>
                    <td class="list-row-action-cell">
                        <%= link_to brewery, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-remove'></span>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= paginate @breweries %>
<br>