<% title 'Breweries' %>

<div class="row">
    <div class="col-xs-12">
        <h1 class="index-page-title">
            All Breweries
            <% if current_user %>
                <%= link_to '+ Add Brewery', new_brewery_path, class: 'btn btn-primary pull-right undo-float' %>
            <% end %>
        </h1>

        <%= render 'list' %>
        <br>
    </div>
</div>
