<% title @brewery.name %>
<div>
    <h1 class='show-page-title'>
        <%= @brewery.name %>
    </h1>
    <%= link_to 'View Their Beers'.html_safe, brewery_beers_path(@brewery), class: 'btn btn-primary btn-xs' %>
    <% if current_user %>
        <%= link_to @brewery, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do %>
            <span class='glyphicon glyphicon-remove'></span> Delete Brewery
        <% end %>
        <%= link_to 'View on BreweryDB', "http://www.brewerydb.com/brewery/#{@brewery.brewerydb_id}", class: 'btn btn-info btn-xs', target: '_blank' %>
        <%= link_to sync_brewery_path(@brewery), class: 'btn btn-info btn-xs' do %>
            <span class="glyphicon glyphicon-refresh"></span> Sync with BreweryDB
        <% end %>
    <% end %>
</div>
<hr>
<div class="text-center">
    <%= image_tag @brewery.image_url || 'placeholder.png', class: 'beer-brewery-image' %>
</div>
