<div class='new-form'>
    <%= bootstrap_form_for([@coffee, @bag], style: :horizontal) do |f| %>
        <%= f.date_field :roasted_on %>
        <%= f.date_field :opened_on %>
        <%= f.submit 'Add Bag of Coffee', class: 'btn btn-primary' %>
    <% end %>
</div>