<small class="visible-xs text-center" style="color: #DDDDDD;">
    Scroll table &rarr;
</small>
<div class="table-responsive">
    <table class='table table-striped'>
        <thead>
        <tr class="info">
            <th>Roasted On</th>
            <th>Opened On</th>
            <th>Finished On</th>
            <% if current_user %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @bags.each do |bag| %>
            <tr>
                <td><%= bag.roasted_on %></td>
                <td><%= bag.opened_on || 'Unopened' %></td>
                <td><%= bag.finished_at || 'Unfinished' %></td>
                <% if current_user %>
                    <td class="list-row-action-cell">
                        <%= link_to bag, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-remove'></span>
                        <% end %>
                        <%= link_to 'Open Bag', open_bag_path(bag), method: :post, class: 'btn btn-primary btn-xs pull-right' unless bag.opened_on %>
                        <%= link_to 'Finish Bag', finish_bag_path(bag), method: :post, class: 'btn btn-primary btn-xs pull-right' if bag.opened_on && !bag.finished_at %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= paginate @bags %>
<br>