<% title "Bags of #{@coffee.name}" %>

<div class="row">
    <div class="col-xs-12">
        <h1 class="index-page-title">
            Bags of <%= link_to @coffee.name, @coffee %>
            <% if current_user %>
                <%= link_to '+ Add Bag', new_coffee_bag_path(@coffee), class: 'btn btn-primary pull-right undo-float' %>
            <% end %>
        </h1>

        <%= render 'list' %>

        <br>
    </div>
</div>
