<h1>Add <%= @brewery_name %> Beer to BreweryDB</h1>

<div class='panel panel-warning'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Caution!</h3>
    </div>
    <div class='panel-body'>
        This will add a beer to BreweryDB. Please ensure that you're adding a missing beer and NOT a
        duplicate or misspelt version of a beer already in their system.
    </div>
</div>

<div class='new-form'>
    <%= bootstrap_form_for(@beer_form, url: api_brewery_beers_url(@beer_form.brewery_brewerydb_id), style: :horizontal) do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :style_name, data: {autocomplete_source: @beer_styles_autocomplete} %>
        <%= f.hidden_field :style_brewerydb_id %>
        <%= f.number_field :abv, label: 'ABV (%)', step: 0.1 %>
        <%= f.submit 'Create Beer In BreweryDB', class: 'btn btn-primary' %>
    <% end %>
</div>