<div id='list-content'>
    <div class="section-title">
        Recent Activity
    </div>
    <% last_date = nil %>
    <% @activities.each_with_index do |activity, index| %>
        <% unless last_date && last_date.to_date === activity.created_at.to_date %>
                <div class="activity-date-header">
                    <%= activity.created_at.strftime("%A, %B %e") %>
                </div>
            <% last_date = activity.created_at %>
        <% end %>
        <%= render activity %>
    <% end %>
</div>
