<!DOCTYPE html>
<html>
<head>
    <title>Palomino Labs &middot; <%= yield(:title).presence || 'Beer Reviews' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin/main', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%
   if controller.instance_of?(BeersController) || controller.instance_of?(BreweriesController) ||
           (controller.instance_of?(ActivitiesController) && @filter == 'Beer')
     @beer_active = true
   elsif controller.instance_of?(CoffeesController) || controller.instance_of?(RoastersController) ||
           controller.instance_of?(BagsController) ||
           (controller.instance_of?(ActivitiesController) && @filter == 'Coffee')
     @coffee_active = true
   end
%>

<div class='navbar navbar-inverse navbar-static-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'><%= image_tag 'icon_white_bg_transparent.png', id: 'logo' %> Palomino
                Labs &middot; Reviews</a>
        </div>
        <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav pull-right'>
                <!-- Beers -->
                <li class="dropdown <%= 'active' if @beer_active %>">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beer <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Beers List', beers_path %></li>
                        <li><%= link_to 'Breweries List', breweries_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to 'Add Beer', new_beer_path %></li>
                        <li><%= link_to 'Add Brewery', new_brewery_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to 'Activities Feed', activities_path(beer: 1) %></li>
                    </ul>
                </li>

                <!-- Coffee -->
                <li class="dropdown <%= 'active' if @coffee_active %>">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coffee <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Coffee List', coffees_path %></li>
                        <li><%= link_to 'Roasters List', roasters_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to 'Add Coffee', new_coffee_path %></li>
                        <li><%= link_to 'Add Roaster', new_roaster_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to 'Activities Feed', activities_path(coffee: 1) %></li>
                    </ul>
                </li>

                <!-- Log In/Out -->
                <% if current_user %>
                    <li><%= link_to 'Log out', log_out_path %></li>
                <% else %>
                    <li><%= link_to 'Log in', log_in_path %></li>
                <% end %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class='plr-container'>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <%= text_field_tag :search, nil, data: {autocomplete_source: search_autocomplete_url, beers_url: beers_url, breweries_url: breweries_url}, class: 'form-control', placeholder: 'Search' %>
        </div>
    </div>

    <hr>

    <% if flash.count > 0 %>
        <div id="flash-container">
            <% flash.each do |key, value| %>
                <div class='flash-message <%= flash_class(key) %>'>
                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                    <%= value %>
                </div>
            <% end %>
        </div>
    <% end %>

    <%= yield %>

</div>

</body>
</html>
