<form>
    <input type="text" id="autocomplete-field" data-autocomplete-source="autocomplete-source-url">
    <div class="fridge-icon"></div>
    <div class="fridge-icon"></div>
    <div class="fridge-icon"></div>
</form>