<div id="beer-modal-dialog">
    <div id='beer-modal-dialog-brewery'></div>
    <div id='beer-modal-dialog-name'></div>
    <img id='beer-modal-dialog-image'>
    <div id='beer-modal-dialog-abv'></div>
    <div id='beer-modal-dialog-ibu'></div>
    <div id='beer-modal-dialog-activities'></div>
    <div id='beer-modal-dialog-activity-title'></div>
    <div id='beer-modal-dialog-inventory'></div>
    <div id='beer-modal-dialog-style'></div>
    <div id='beer-modal-dialog-description'></div>
    <a id="beer-modal-dialog-close"></a>
</div>

<div id="list-content">
    <div id="hiddenItems"></div>
    <div id="showHidden">
        <div id="show-hidden-items"></div>
        <a class="view-beer-link" id="test-beer" data-beer-id="5"></a>
        <a class="view-beer-link"></a>
    </div>
</div>