<form>
    <input type="text" id="beer_form_brewery_name" data-autocomplete-source="autocomplete-source-url">
    <div id="selected_brewery"></div>
    <div id="selected_brewery-name"></div>
    <input type="hidden" id="beer_form_brewery_brewerydb_id">
    <div id="Beer_fields"></div>
    <a id="create_brewerydb_beer_link" data-url="test_url/-id-"></a>
    <input type="text" id="beer_form_name" data-autocomplete-source="source_url/-id-/">
    <button id="clear_brewery"></button>
</form>