<a href='#' data-beer-id='<%= beer_opened_activity.beer.id %>' class='view-beer-link'>
    <div class="activity-item">
        <div>
            <div class="activity-image">
                <%= image_tag beer_opened_activity.beer.icon_url || beer_opened_activity.beer.brewery.icon_url || 'placeholder.png' %>
            </div>
            <span class='activity-item-text'>
                <%= image_tag 'activity-open.png', class: 'activity-icon' %>
                <span style="color:#0A69A6">Opened</span> <strong><%= beer_opened_activity.beer.name %></strong>
                <br>
                <span class='activity-item-subtext' >
                    from <strong><%= beer_opened_activity.beer.brewery.name %></strong>
                </span>
            </span>
        </div>
    </div>
</a>