<%= bootstrap_form_for(@beer, style: :horizontal) do |f| %>
    <h4>Brewery
        <small><%= @beer.brewery.name %></small>
    </h4>
    <h4>Beer
        <small><%= @beer.name %></small>
    </h4>
    <%= f.number_field :inventory, value: (@beer.inventory) %>
    <% if @beer.errors[:in_fridge].length > 0 %>
        <div class="form-group has-error">
            <%= f.check_box :in_fridge %>
            <span class="help-block"><%= @beer.errors[:in_fridge][0] %></span>
        </div>
    <% else %>
        <%= f.check_box :in_fridge %>
    <% end %>
    <%= f.submit class: 'btn btn-primary', value: 'Update Beer' %>
<% end %>