<small class="visible-xs text-center" style="color: #DDDDDD;">
    Scroll table &rarr;
</small>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr class="info">
            <th><%= sortable 'name' %></th>
            <th>Brewery</th>
            <th>Average Rating</th>
            <th>Inventory</th>
            <% if current_user %>
                <th></th>
            <% end %>
        </tr>
        </thead>

        <tbody>
        <% @beers.each do |beer| %>
            <tr>
                <td class='list-row-title-cell'><b><%= link_to beer do %>
                        <%= image_tag beer.icon_url || beer.brewery.icon_url || 'placeholder.png' %><%= beer.name %>
                    <% end %>
                </b></td>
                <td><%= link_to beer.brewery.name, beer.brewery %></td>
                <td><%= beer.average_rating || 'Not Rated' %></td>
                <td><%= beer.inventory %> <%= mountain_icon beer %></td>
                <% if current_user %>
                    <td class="list-row-action-cell-wide">
                        <%= link_to beer, method: :delete, data: {confirm: 'Are you sure?'},
                                    class: 'btn btn-danger  btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-remove'></span>
                        <% end %>
                        <%= link_to edit_beer_path(beer), class: 'btn btn-default btn-xs pull-right', style: 'margin-left: 5px' do %>
                            <span class='glyphicon glyphicon-pencil'></span>
                        <% end %>
                        <% if beer.inventory != 0 %>
                            <%= link_to 'Open Bottle', open_beer_path(beer), method: :post, class: 'btn btn-primary btn-xs pull-right' %>
                        <% end %>

                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<%= paginate @beers %>
<br>
