<%= bootstrap_form_for(@beer_form, url: beers_url, method: :post, style: :horizontal) do |f| %>
    <h4>Brewery
        <small><%= @beer_form.brewery_name %></small>
    </h4>
    <%= f.hidden_field :brewery_name, value: @beer_form.brewery_name %>
    <%= f.hidden_field :brewery_brewerydb_id, value: @beer_form.brewery_brewerydb_id %>

    <h4>Beer
        <small><%= @beer_form.name %></small>
    </h4>
    <%= f.hidden_field :name, value: @beer_form.name %>
    <%= f.hidden_field :beer_brewerydb_id, value: @beer_form.beer_brewerydb_id %>

    <%= f.number_field :inventory, value: (@beer_form.inventory || 0) %>
    <% if @beer_form.errors[:in_fridge].length > 0 %>
        <div class="form-group has-error">
            <%= f.check_box :in_fridge %>
            <span class="help-block"><%= @beer_form.errors[:in_fridge][0] %></span>
        </div>
    <% else %>
        <%= f.check_box :in_fridge %>
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>