<%= bootstrap_form_for(@beer_form, url: beers_url, method: :post, style: :horizontal) do |f| %>
    <%= f.text_field :brewery_name, label: 'Brewery', data: {autocomplete_source: api_brewery_autocomplete_url(:json)} %>
    <div class='form-group' id='selected_brewery' style='display: none'>
        <span id='selected_brewery_name'></span>
        <a class='btn btn-danger btn-xs' id='clear_brewery'>
            <span class='glyphicon glyphicon-remove'></span>
        </a>
    </div>
    <small class="help-block"><%= link_to "Brewery doesn't exist? Add it to BreweryDB.", new_api_brewery_path %></small>
    <%= f.hidden_field :brewery_brewerydb_id %>
    <fieldset id='beer_fields' disabled>
        <%= f.text_field :name, label: 'Beer', data: {autocomplete_source: api_brewery_beer_autocomplete_url('-id-', :json)} %>
        <small class="help-block"><%= link_to "Beer doesn't exist? Add it to BreweryDB.", '', style: 'display: none',
                                              id: 'create_brewerydb_beer_link', data: {url: new_api_brewery_beer_path('-id-')} %></small>
        <%= f.hidden_field :beer_brewerydb_id %>
        <%= f.number_field :inventory, value: (@beer_form.inventory || 0) %>
        <% if @beer_form.errors[:in_fridge].length > 0 %>
            <div class="form-group has-error">
                <%= f.check_box :in_fridge %>
                <span class="help-block"><%= @beer_form.errors[:in_fridge][0] %></span>
            </div>
        <% else %>
            <%= f.check_box :in_fridge %>
        <% end %>
        <%= f.submit class: 'btn btn-primary', value: 'Add Beer' %>
    </fieldset>
<% end %>