<% title(@brewery ? "#{@brewery.name} Beers" : 'Beers') %>

<div id="beer-list-header">
    <%
       if @brewery
         all_path = brewery_beers_path(@brewery)
         in_stock_path = brewery_beers_path(@brewery, in_stock: '1')
         in_fridge_path = brewery_beers_path(@brewery, in_fridge: '1')
       else
         all_path = beers_path
         in_stock_path = beers_path(in_stock: '1')
         in_fridge_path = beers_path(in_fridge: '1')
       end
    %>
    <% if @in_fridge %>
        <h1 class="index-page-title"><%= "#{@brewery.name} " if @brewery %>Beers in the fridge</h1>
        <%= link_to 'View all beers', all_path, class: 'btn btn-default' %>
        <%= link_to 'View only beers in stock', in_stock_path, class: 'btn btn-default' %>
    <% elsif @in_stock %>
        <h1 class="index-page-title"><%= "#{@brewery.name} " if @brewery %> Beers in stock</h1>
        <%= link_to 'View all beers', all_path, class: 'btn btn-default btn-xs' %>
        <%= link_to 'View only beers in the fridge', in_fridge_path, class: 'btn btn-default' %>
    <% else %>
        <h1 class="index-page-title">All <%= "#{@brewery.name} " if @brewery %>Beers</h1>
        <%= link_to 'View only beers in stock', in_stock_path, class: 'btn btn-default' %>
        <%= link_to 'View only beers in the fridge', in_fridge_path, class: 'btn btn-default' %>
    <% end %>

    <% if current_user %>
        <%= link_to 'Feeling Lucky?', random_beer_path, class: 'btn btn-success pull-right undo-float', style: 'margin-left: 5px;' %>
        <%= link_to '+ Add Beer', new_beer_path, class: 'btn btn-primary pull-right undo-float' %>
    <% end %>
</div>
<div class="row">
        <%= render 'list' %>
        <br>
</div>

