<% title 'New Beer' %>
<h1>New Beer</h1>

<% if @from_api && @beer_form.name && @beer_form.beer_brewerydb_id && @beer_form.brewery_name && @beer_form.brewery_brewerydb_id %>
    <%= render 'new_prepopulated_form' %>
<% else %>
    <%= render 'new_form' %>
<% end %>
