<% title @beer.name %>
<div class='row'>
    <h1 class='show-page-title'>
        <%= @beer.name %>
        <small>by <%= link_to @beer.brewery.name, @beer.brewery %></small>
        <% if current_user %>
            <span style="white-space:nowrap;">
                <%= link_to edit_beer_path(@beer), class: 'btn btn-default btn-xs' do %>
                    <span class='glyphicon glyphicon-pencil'></span> Edit Beer
                <% end %>
                <% if @beer.inventory > 0 %>
                    <%= link_to 'Open a Bottle', :open_beer, method: :post, class: 'btn btn-primary btn-xs' %>
                <% end %>
                <%= link_to 'View on BreweryDB', "http://www.brewerydb.com/beer/#{@beer.brewerydb_id}", class: 'btn btn-info btn-xs', target: '_blank' %>
                <%= link_to sync_beer_path(@beer), class: 'btn btn-info btn-xs' do %>
                    <span class="glyphicon glyphicon-refresh"></span> Sync with BreweryDB
                <% end %>
                <%= link_to @beer, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' do %>
                    <span class='glyphicon glyphicon-remove'></span> Delete Beer
                <% end %>
            </span>
        <% end %>
    </h1>
</div>

<hr>
<div class='show-info-container-properties'>
    <table>
        <tr>
            <td class="title-cell">Inventory Count</td>
            <td class="content-cell">
                <%= @beer.inventory %> <%= mountain_icon @beer %>
            </td>
        </tr>
        <tr>
            <td class="title-cell">ABV</td>
            <td class="content-cell">
                <%= @beer.abv || 'Unknown' %>
            </td>
        </tr>
        <tr>
            <td class="title-cell">IBUs</td>
            <td class="content-cell">
                <%= @beer.ibu || 'Unknown' %>
            </td>
        </tr>
        <tr>
            <td class="title-cell">Style</td>
            <td class="content-cell">
                <%= @beer.style %>
            </td>
        </tr>
    </table>
    <%= @beer.description %>
</div>


<hr>
<div class='show-page-image text-center'>
    <%= image_tag @beer.image_url || 'placeholder.png'  %>
</div>
<hr>

<div class="row">
    <div class='col-sm-12'>
        <% if @beer.reviews.length > 0 %>
            <h4><strong>Reviews</strong></h4>
            <%= render @beer.reviews %>
        <% end %>

        <% if current_user %>
            <%= render 'reviews/form' %>
        <% end %>
    </div>
</div>